<% layout('/layouts/boilerplate') -%>

    <main class="container mt-5">
        <section class="bg-light p-4">
            <h1>About WanderLust</h1>
            <p>Welcome to WanderLust, your go-to platform for booking tourist places and exploring new destinations!</p>
            <p>Here are some key features of our platform:</p>
            <ul class="list-group">
                <li class="list-group-item">Sign up for an account to access exclusive features and personalize your experience.</li>
                <li class="list-group-item">Unique usernames for each user ensure a personalized experience for everyone.</li>
                <li class="list-group-item">Add new listings by clicking on the "Add New Place" option in the navbar.</li>
                <li class="list-group-item">Login to give reviews to places you've visited and share your experiences with others.</li>
                <li class="list-group-item">Delete reviews only if you're the author of the review, and delete listings only if you're the owner.</li>
                <li class="list-group-item">Users can edit their added listings if they are the owners.</li>
                <li class="list-group-item">A master user has access to delete listings, delete reviews, and edit listings, regardless of ownership or authorship.</li>
                <li class="list-group-item">Explore various tourist destinations and book your preferred places with ease.</li>
                <li class="list-group-item">View prices for listings including GST.</li>
                <li class="list-group-item">Utilize MongoDB as our database, with MongoDB Atlas providing cloud hosting.</li>
                <li class="list-group-item">Use <a href="https://cloudinary.com/">Cloudinary</a> for image uploads, generating links for the uploaded images.</li>
                <li class="list-group-item">Hosted on <a href="https://render.com/">Render.com</a> for reliable and scalable hosting.</li>
                <li class="list-group-item">Render the application using EJS templates.</li>
                <li class="list-group-item">Just a heads up, this project does not utilize React and differs from the typical MERN stack architecture.</li>
            </ul>
            
            <p class="mt-4">If you have any questions or feedback, feel free to reach out to me directly.</p>
        </section>
        <section class="bg-light p-4">
            <h2>Planned Features</h2>
            <ul class="list-group">
                <li class="list-group-item">Backend development for search functionality.</li>
                <li class="list-group-item">Implementation of filters for trending, mountains, and more.</li>
                <li class="list-group-item">Integration of Google Maps to display the exact location of each place.</li>
            </ul>
        </section>
        

        <section class="bg-light p-4 mt-5">
            <h2>Dependencies (npm Packages)</h2>
            <p>Here are the packages used in this project:</p>
            <ul class="list-group">
                <li class="list-group-item">cloudinary</li>
                <li class="list-group-item">connect-flash</li>
                <li class="list-group-item">connect-mongo</li>
                <li class="list-group-item">dotenv</li>
                <li class="list-group-item">ejs</li>
                <li class="list-group-item">ejs-mate</li>
                <li class="list-group-item">express</li>
                <li class="list-group-item">express-session</li>
                <li class="list-group-item">joi</li>
                <li class="list-group-item">method-override</li>
                <li class="list-group-item">mongoose</li>
                <li class="list-group-item">multer</li>
                <li class="list-group-item">multer-storage-cloudinary</li>
                <li class="list-group-item">passport</li>
                <li class="list-group-item">passport-local</li>
                <li class="list-group-item">passport-local-mongoose</li>
            </ul>
        </section>

        <!-- Contact Information -->
        <section class="bg-light p-4 mt-5">
            <h2>Contact Information</h2>
            <p>Feel free to reach out to me for any inquiries or collaboration opportunities.</p>
            <p>Name: L Nikhil Chary</p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/nikhil-chary-7b778b238/">LinkedIn Profile</a></p>
        </section>
    </main>